* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to right, #fce4ec, #f8bbd0);
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-circle {
  width: 35px;
  height: 35px;
  background-color: #ff31cc;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.navbar h1 {
  color: #333;
  font-size: 18px;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-left: 25px;
  font-weight: 500;
}

nav a:hover {
  color: #ec407a;
}

/* MAIN */
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
}

.left .card {
  background: #f8bbd0;
  border-radius: 20px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  position: relative;
}

.left .icon img {
  width: 60px;
  margin-bottom: 15px;
}

.left h2 {
  color: #c2185b;
  font-size: 22px;
}

.left p {
  color: #444;
}

/* FORM */
.form-container {
  background: white;
  border-radius: 15px;
  padding: 40px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.form-container h2 {
  color: #c2185b;
  margin-bottom: 10px;
}

.form-container p {
  color: #777;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  gap: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

input:focus {
  border-color: #ec407a;
}

button {
  width: 100%;
  background-color: #ec407a;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #d81b60;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .main-container {
    flex-direction: column;
    padding: 20px;
  }

  .left {
    margin-bottom: 40px;
  }

  .form-container {
    width: 100%;
  }
}
